<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bear Basics</key>
	<dict>
		<key>url</key>
		<string></string>
		<key>lat</key>
		<real>37.86768</real>
		<key>long</key>
		<real>-122.259085</real>
		<key>type</key>
		<string>Off-Campus</string>
	</dict>
	<key>Berkeley Thai House</key>
	<dict>
		<key>url</key>
		<string>http://www.berkeleythaihouse.com/</string>
		<key>long</key>
		<real>-122.258389</real>
		<key>lat</key>
		<real>37.867061</real>
		<key>type</key>
		<string>Off-Campus</string>
	</dict>
	<key>Cafe Durant</key>
	<dict>
		<key>url</key>
		<string>http://www.cafedurant.com/</string>
		<key>lat</key>
		<real>37.868026</real>
		<key>long</key>
		<real>-122.258245</real>
		<key>type</key>
		<string>Off-Campus</string>
	</dict>
	<key>Chipotle Mexican Grill</key>
	<dict>
		<key>url</key>
		<string>http://www.chipotle.com/</string>
		<key>lat</key>
		<real>37.868366</real>
		<key>long</key>
		<real>-122.25905</real>
		<key>type</key>
		<string>Off-Campus</string>
	</dict>
	<key>IB&apos;s Hoagies &amp; Cheesesteaks</key>
	<dict>
		<key>url</key>
		<string>http://www.ibshoagies.com/</string>
		<key>lat</key>
		<real>37.868018</real>
		<key>long</key>
		<real>-122.258502</real>
		<key>type</key>
		<string>Off-Campus</string>
	</dict>
	<key>Johnston&apos;s Market</key>
	<dict>
		<key>url</key>
		<string></string>
		<key>lat</key>
		<real>37.868024</real>
		<key>long</key>
		<real>-122.258457</real>
		<key>type</key>
		<string>Off-Campus</string>
	</dict>
	<key>Moe&apos;s Books</key>
	<dict>
		<key>url</key>
		<string>http://www.moesbooks.com/</string>
		<key>lat</key>
		<real>37.865522</real>
		<key>long</key>
		<real>-122.258646</real>
		<key>type</key>
		<string>Off-Campus</string>
	</dict>
	<key>Ned&apos;s Berkeley Bookstore</key>
	<dict>
		<key>url</key>
		<string>http://www.nedsbooks.com/ucb/</string>
		<key>lat</key>
		<real>37.868554</real>
		<key>long</key>
		<real>-122.259842</real>
		<key>type</key>
		<string>Off-Campus</string>
	</dict>
	<key>UC Hair Salon &amp; Waxing</key>
	<dict>
		<key>url</key>
		<string>http://www.ucsalon.com/</string>
		<key>lat</key>
		<real>37.868402</real>
		<key>long</key>
		<real>-122.26052</real>
		<key>type</key>
		<string>Off-Campus</string>
	</dict>
	<key>Berkeley Student Food Collective</key>
	<dict>
		<key>url</key>
		<string>http://berkeleystudentfoodcollective.org/</string>
		<key>lat</key>
		<real>37.868402</real>
		<key>long</key>
		<real>-122.26052</real>
		<key>type</key>
		<string>Off-Campus</string>
	</dict>
	<key>Blondie&apos;s Pizza</key>
	<dict>
		<key>url</key>
		<string>http://www.blondiespizza.com/</string>
		<key>lat</key>
		<real>37.868034</real>
		<key>long</key>
		<real>-122.259197</real>
		<key>type</key>
		<string>Off-Campus</string>
	</dict>
	<key>Cheese &apos;n&apos; Stuff</key>
	<dict>
		<key>url</key>
		<string>http://www.cheesenstuff.com/</string>
		<key>lat</key>
		<real>37.86763</real>
		<key>long</key>
		<real>-122.26029</real>
		<key>type</key>
		<string>Off-Campus</string>
	</dict>
	<key>Extreme Pizza, Shattuck Ave.</key>
	<dict>
		<key>url</key>
		<string>http://www.extremepizza.com/</string>
		<key>lat</key>
		<real>37.86621</real>
		<key>long</key>
		<real>-122.268271</real>
		<key>type</key>
		<string>Off-Campus</string>
	</dict>
	<key>Extreme Pizza, College Ave.</key>
	<dict>
		<key>url</key>
		<string>http://www.extremepizza.com/</string>
		<key>lat</key>
		<real>37.851045</real>
		<key>long</key>
		<real>-122.252634</real>
		<key>type</key>
		<string>Off-Campus</string>
	</dict>
	<key>Jamba Juice</key>
	<dict>
		<key>New item</key>
		<string>http://www.jambajuice.com/</string>
		<key>lat</key>
		<real>37.868682</real>
		<key>long</key>
		<real>-122.258734</real>
		<key>type</key>
		<string>Off-Campus</string>
	</dict>
	<key>Joshua-ya&apos;s Brasserie</key>
	<dict>
		<key>url</key>
		<string>http://www.joshu-ya.com/</string>
		<key>lat</key>
		<real>37.865234</real>
		<key>long</key>
		<real>-122.259381</real>
		<key>type</key>
		<string>Off-Campus</string>
	</dict>
	<key>Naan-N-Curry</key>
	<dict>
		<key>url</key>
		<string>http://naanncurryberkeley.com/</string>
		<key>lat</key>
		<real>37.8674</real>
		<key>long</key>
		<real>-122.259068</real>
		<key>type</key>
		<string>Off-Campus</string>
	</dict>
	<key>San Francisco Soup Company</key>
	<dict>
		<key>url</key>
		<string>http://www.sfsoupco.com/</string>
		<key>lat</key>
		<real>37.868671</real>
		<key>long</key>
		<real>-122.258563</real>
		<key>type</key>
		<string>Off-Campus</string>
	</dict>
	<key>Bear Market</key>
	<dict>
		<key>url</key>
		<string>http://caldining.berkeley.edu/bear_market.html</string>
		<key>type</key>
		<string>On-campus by Cal Dining</string>
		<key>lat</key>
		<real>37.867146</real>
		<key>long</key>
		<real>-122.260387</real>
	</dict>
	<key>Golden Bear Cafe</key>
	<dict>
		<key>url</key>
		<string>http://caldining.berkeley.edu/golden_bear.html</string>
		<key>type</key>
		<string>On-campus by Cal Dining</string>
		<key>lat</key>
		<real>37.86978</real>
		<key>long</key>
		<real>-122.259759</real>
	</dict>
	<key>Peet&apos;s Coffee &amp; Tea</key>
	<dict>
		<key>url</key>
		<string>http://caldining.berkeley.edu/the_den.html</string>
		<key>type</key>
		<string>On-campus by Cal Dining</string>
		<key>lat</key>
		<real>37.866867</real>
		<key>long</key>
		<real>-122.256235</real>
	</dict>
	<key>Qualcomm Cybercafe</key>
	<dict>
		<key>url</key>
		<string>http://caldining.berkeley.edu/qualcomm.html</string>
		<key>type</key>
		<string>On-campus by Cal Dining</string>
		<key>lat</key>
		<real>37.874667</real>
		<key>long</key>
		<real>-122.258665</real>
	</dict>
	<key>The Terrace Cafe</key>
	<dict>
		<key>url</key>
		<string>http://caldining.berkeley.edu/terrace_cafe.html</string>
		<key>type</key>
		<string>On-campus by Cal Dining</string>
		<key>lat</key>
		<real>37.874354</real>
		<key>long</key>
		<real>-122.25815</real>
	</dict>
	<key>Common Grounds</key>
	<dict>
		<key>url</key>
		<string>http://caldining.berkeley.edu/common_grounds.html</string>
		<key>type</key>
		<string>On-campus by Cal Dining</string>
		<key>lat</key>
		<real>37.870786</real>
		<key>long</key>
		<real>-122.260515</real>
	</dict>
	<key>Pat Brown&apos;s Grille</key>
	<dict>
		<key>url</key>
		<string>http://caldining.berkeley.edu/pat_browns.html</string>
		<key>type</key>
		<string>On-campus by Cal Dining</string>
		<key>lat</key>
		<real>37.873625</real>
		<key>long</key>
		<real>-122.264796</real>
	</dict>
	<key>The Pro Shop</key>
	<dict>
		<key>url</key>
		<string>http://caldining.berkeley.edu/pro_shop.html</string>
		<key>type</key>
		<string>On-campus by Cal Dining</string>
		<key>lat</key>
		<real>37.868569</real>
		<key>long</key>
		<real>-122.262683</real>
	</dict>
	<key>Ramona&apos;s</key>
	<dict>
		<key>url</key>
		<string>http://caldining.berkeley.edu/ramonas.html</string>
		<key>type</key>
		<string>On-campus by Cal Dining</string>
		<key>lat</key>
		<real>37.87028</real>
		<key>long</key>
		<real>-122.254786</real>
	</dict>
	<key>The George &amp; Mary Foster Anthropology Library</key>
	<dict>
		<key>url</key>
		<string></string>
		<key>type</key>
		<string>Library</string>
		<key>lat</key>
		<real>37.869881</real>
		<key>long</key>
		<real>-122.255197</real>
	</dict>
	<key>The Bancroft Library</key>
	<dict>
		<key>url</key>
		<string>10 am-5 pm</string>
		<key>type</key>
		<string>Library</string>
		<key>lat</key>
		<real>37.872287</real>
		<key>long</key>
		<real>-122.25866</real>
	</dict>
	<key>Thomas J. Long Business Library</key>
	<dict>
		<key>url</key>
		<string>9 am-5 pm</string>
		<key>type</key>
		<string>Library</string>
		<key>lat</key>
		<real>37.871604</real>
		<key>long</key>
		<real>-122.253165</real>
	</dict>
	<key>Doe Library / Main Stacks</key>
	<dict>
		<key>url</key>
		<string>8 am-5 pm</string>
		<key>type</key>
		<string>Library</string>
		<key>lat</key>
		<real>37.872101</real>
		<key>long</key>
		<real>-122.259389</real>
		<key>info</key>
		<string>The Doe Memorial Library is the main library of the UC Berkeley Library System on the UC Berkeley campus. The library is named after its benefactor, Charles Franklin Doe, who was persuaded by the then President of the University of California, Benjamin Ide Wheeler, in 1904 to bequeath funds for its construction. It is located adjacent to the Bancroft Library. In 1900, Emile Benard won an architectural competition for the design of the library, and the Classical Revival style library was completed in 1911. The Doe Library houses both the Undergraduate and Gardner (Main) Stacks collections.
</string>
		<key>times</key>
		<string>Doe Library	 8 am-5 pm	Calendar	Map/Info
Circulation Desk	 9 am-4:45 pm	Calendar	Map/Info
Gardner (MAIN) Stacks	 9 am-10 pm	Calendar	Map/Info
Privileges Desk	 9 am-4:45 pm	Calendar	Map/Info
Reference Service	 10 am-5 pm	Calendar	Map/Info
Research Advisory Service	 11 am-5 pm</string>
	</dict>
	<key>C.V. Starr East Asian Library</key>
	<dict>
		<key>url</key>
		<string>9 am-5 pm</string>
		<key>type</key>
		<string>Library</string>
		<key>lat</key>
		<real>37.87349</real>
		<key>long</key>
		<real>-122.260333</real>
	</dict>
	<key>Kresge Engineering Library</key>
	<dict>
		<key>url</key>
		<string>8 am-5 pm</string>
		<key>type</key>
		<string>Library</string>
		<key>lat</key>
		<real>37.87442</real>
		<key>long</key>
		<real>-122.258122</real>
	</dict>
	<key>Ethnic Studies Library</key>
	<dict>
		<key>url</key>
		<string>9 am-5 pm</string>
		<key>type</key>
		<string>Library</string>
		<key>lat</key>
		<real>37.87141</real>
		<key>long</key>
		<real>-122.257501</real>
	</dict>
	<key>Institute of Transportation Studies Library</key>
	<dict>
		<key>url</key>
		<string>11 am-5 pm</string>
		<key>type</key>
		<string>Library</string>
		<key>lat</key>
		<real>37.874095</real>
		<key>long</key>
		<real>-122.259185</real>
	</dict>
	<key>Moffit Library</key>
	<dict>
		<key>url</key>
		<string>8 am-10 pm</string>
		<key>type</key>
		<string>Library</string>
		<key>lat</key>
		<real>37.872518</real>
		<key>long</key>
		<real>-122.260692</real>
	</dict>
	<key>Sheldon Margen Public Health Library</key>
	<dict>
		<key>url</key>
		<string>9 am-5 pm</string>
		<key>type</key>
		<string>Library</string>
		<key>lat</key>
		<real>37.871322</real>
		<key>long</key>
		<real>-122.258542</real>
	</dict>
	<key>Art History / Classics Library</key>
	<dict>
		<key>url</key>
		<string>9 am-5 pm</string>
		<key>type</key>
		<string>Library</string>
		<key>lat</key>
		<real>37.87028</real>
		<key>long</key>
		<real>-122.254786</real>
	</dict>
	<key>Bioscience &amp; Natural Resources Library</key>
	<dict>
		<key>url</key>
		<string>9 am-5 pm</string>
		<key>type</key>
		<string>Library</string>
		<key>lat</key>
		<real>37.871567</real>
		<key>long</key>
		<real>-122.262264</real>
	</dict>
	<key>Chemistry &amp; Chemical Engineering Library</key>
	<dict>
		<key>url</key>
		<string>9 am-5 pm</string>
		<key>type</key>
		<string>Library</string>
		<key>lat</key>
		<real>37.872987</real>
		<key>long</key>
		<real>-122.255995</real>
	</dict>
	<key>Earth Sciences and Map Library</key>
	<dict>
		<key>url</key>
		<string>9 am-5 pm</string>
		<key>type</key>
		<string>Library</string>
		<key>lat</key>
		<real>37.874095</real>
		<key>long</key>
		<real>-122.259185</real>
	</dict>
	<key>Education-Psychology Library</key>
	<dict>
		<key>url</key>
		<string>9 am-5 pm</string>
		<key>type</key>
		<string>Library</string>
		<key>lat</key>
		<real>37.874181</real>
		<key>long</key>
		<real>-122.263528</real>
	</dict>
	<key>Mathematics Statistics Library</key>
	<dict>
		<key>url</key>
		<string>9 am-5 pm</string>
		<key>type</key>
		<string>Library</string>
		<key>lat</key>
		<real>37.873627</real>
		<key>long</key>
		<real>-122.257698</real>
	</dict>
	<key>Jean Gray Hargrove Music Library</key>
	<dict>
		<key>url</key>
		<string>9 am-5 pm</string>
		<key>type</key>
		<string>Library</string>
		<key>lat</key>
		<real>37.870503</real>
		<key>long</key>
		<real>-122.256083</real>
	</dict>
	<key>Optometry &amp; Health Sciences Library</key>
	<dict>
		<key>url</key>
		<string>9 am-5 pm</string>
		<key>type</key>
		<string>Library</string>
		<key>lat</key>
		<real>37.871482</real>
		<key>long</key>
		<real>-122.25471</real>
	</dict>
	<key>Physics-Astronomy Library</key>
	<dict>
		<key>url</key>
		<string>8 am-5 pm</string>
		<key>type</key>
		<string>Library</string>
		<key>lat</key>
		<real>37.872262</real>
		<key>long</key>
		<real>-122.257147</real>
	</dict>
	<key>Social Welfare Library</key>
	<dict>
		<key>url</key>
		<string>9 am-5 pm</string>
		<key>type</key>
		<string>Library</string>
		<key>lat</key>
		<real>37.873698</real>
		<key>long</key>
		<real>-122.261091</real>
	</dict>
</dict>
</plist>
